.cards > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 260px));
  justify-content: center;
  gap: 24px;
  max-width: 1200px;
}

.cards > ul > li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
