/* ApercuMovistar — Movistar Plus+ brand font family */

@font-face {
  font-family: 'ApercuMovistar Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/apercu_light_movistar-web.woff2') format('woff2');
}

@font-face {
  font-family: ApercuMovistar;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/apercu_regular_movistar-web.woff2') format('woff2');
}

@font-face {
  font-family: 'ApercuMovistar Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/apercu_bold_movistar-web.woff2') format('woff2');
}

@font-face {
  font-family: 'ApercuMovistar Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/apercu_black_movistar-web.woff2') format('woff2');
}
